{:paths ["src/clj" "src/cljc" "src/cljs" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        ring {:mvn/version "1.5.1"}
        figwheel-sidecar {:mvn/version "0.5.16"}
        org.clojure/clojurescript {:mvn/version "1.10.312"}
        reagent {:mvn/version "0.7.0"}
        nightlight {:mvn/version "RELEASE"}}}
