{:paths ["src/clj" "src/cljc" "src/cljs" "resources"]
 :deps {ring {:mvn/version "1.7.1"}}
 :aliases {:dev {:extra-deps {leiningen {:mvn/version "2.9.0"}
                              lein-tools-deps {:mvn/version "0.4.3"
                                               :exclusions [com.google.inject/guice$no_aop]}
                              org.clojure/clojurescript {:mvn/version "1.10.520"}
                              reagent {:mvn/version "0.8.1"}
                              figwheel-sidecar {:mvn/version "0.5.16"}}}}}
